.card {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.titulo {
    font-weight: 700;
    font-size: 30px;
    background-image: url(fundo-topo.png);
    background-size: cover;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    border: 5px solid #4c4c4e;
    text-shadow: 2px 2px #4c4c4e;
}

.texto{
    font-weight: 500;
    font-size: 20px;
    background-color: #faf7e6;
    border-radius: 0 0 5px 5px;
    color: var(--chumbo);
    border: 5px solid #4c4c4e;
    border-top: 0px;
    padding: 20px;
}